body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 92vh;
    background-color: #F5F5F7;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
.header{
    grid-area: header;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
 
.header img{
    width: 150px;
    height: 150px;
}
 
.main{
    grid-area: main;

}
.main span{
    
}